@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger" style="text-align:center;">Tạm khóa.</h1>
    <h2 class="text-danger" style="text-align:center;">Tài khoản này đã bị khóa vui lòng thử lại sau.</h2>
</hgroup>
