@model List<WebDocTruyenOnline.Models.Footer>

<div class="footer">
    <div class="container">
        @foreach (var item in Model)
        {
            @Html.Raw(item.Content)
        }
        
    </div>
</div>
