
<div class="user-section">
    <div class="user-section-inner">
        <img src=" @ViewBag.Avatar" />
    </div>
    <div class="user-info">
        <div>Xin Chào <p style="color:sandybrown;text-align:center">@ViewBag.FullName</p> </div>
        <div class="user-text-online">
            <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
        </div>
    </div>
</div>
